<!-- components/Navbar.vue -->

<template>
<header class="bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked">
    <nuxt-link class="link dim white dib mr3" to="/" title="Home">Home</nuxt-link>
    <nuxt-link class="link dim white dib mr3" to="/about" title="About">About</nuxt-link>
    <nuxt-link class="link dim white dib mr3" to="/ssr" title="Store">SSR</nuxt-link>
  </nav>
</header>
</template>



