<template>
  <div>
    <navbar></navbar>
    <br><br><br><br><br>
    <nuxt/>
  </div>
</template>

<script>
import Navbar from '../components/Navbar'

export default {
  components:{
    Navbar
  }
}
</script>






<style>
  html {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  }
  
</style>