<template>
<header class="tc ph4 main">
  <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
About  </h1>
  <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
    Call it magic?
  </h2>
</header>
</template>
